@model CCS2.Models.Message

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Message</legend>

    <div class="display-label">
         Sent To
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SentTo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        Date Recieved
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateReceived)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
         Message
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cMessage)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
