@model List<Message>
@{
    ViewData["Title"] = "Your Messages";
}

<br />
<br/>
<div class="container">
    <center><h1>Your Messages</h1></center>
    <br /><center><span style="color:red; font-weight:bold">@ViewBag.Message</span></center>
    <br />

    <center><a asp-action="MessageSend" class="btn button">Send a New Message</a></center>

    <center>

        <div class="table-responsive">
            <table cellspacing="3" class="table table-condensed">

                @if (Model.Any(a => a.ToID == ViewBag.UserId))
                {


                    <thead>

                        <tr><th style="background-color:transparent; color:black; border:0px solid white;">Inbox</th></tr>
                        <tr><th>From</th><th>Subject</th><th>Date</th></tr>
                    </thead>
                    <tbody>
                        @foreach (Message m in @Model.Where(a => a.ToID == ViewBag.UserId))
                        {
                            <tr class="clickable-row" data-href="MessageView/@m.Parent">
                                <td>@m.FromName</td>
                                <td>

                                    @if (m.Status == Read.Unread)
                                    {

                                        <strong>@m.Subject</strong>
                                    }
                                    else
                                    { @m.Subject}

                                </td>
                                <td>@m.Date</td>
                            </tr>
                        }
                    </tbody>



                }


                else
                {
                    <center><span><h3>You have not received any messages.</h3></span></center>}




        </div>




        @if (Model.Any(a => a.FromID == ViewBag.UserId))
        {


            <thead>
                <tr><th style="background-color:transparent; color:black; border:0px solid white;"><br />Sent Messages</th></tr>
                <tr><th>To</th><th>Subject</th><th>Date</th></tr>
            </thead>
            <tbody>
                @foreach (Message m in @Model.Where(a => a.FromID == ViewBag.UserId))
                {
                    <tr class="clickable-row" data-href="MessageView/@m.Parent">
                        <td>@m.ToUser</td>
                        <td>

                            @if (m.Status == Read.Unread)
                            {

                                <strong>@m.Subject</strong>
                            }
                            else
                            { @m.Subject}

                        </td>
                        <td>@m.Date</td>
                    </tr>
                }
            </tbody>




        }
        else
        {

            <center><h3>You have not sent any messages.</h3></center>
        }

        </table>
</div>
</center>


<script type="text/javascript">
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>





