@model List<Message>;
@{
    ViewData["Title"] = "Your Messages";
}
<br />

<br /><center><span style="color:red; font-weight:bold">@ViewBag.Message</span></center>
<br />
@foreach (Message m in @Model)
{
    <center>
        <div style="background-color:#f4f4f4; min-width:35%; max-width:400px; padding:20px; text-align:left;" id="@m.ID">
            <div style="margin-left:5px;"><strong>@m.Subject</strong><br /><font size="-1" color="grey">&nbsp;From @m.FromName on @m.Date</font></div>
            
                <div style="margin-left:15px;">
<br />
<span size="+1">@Html.Raw(m.Text) </span>
                </div>
            
        </div>
    </center>
    <div style="margin:10px;"></div>
}
    <center>
        <br />
        <form method="post" asp-action="MessageReply" class="form">
            <span style="float:left;"><strong>Reply:</strong></span>

            <input type="hidden" name="parent" value="@Model[0].Parent" />
            @if (Model[0].FromID == ViewBag.UserId)
            {
                <input type="hidden" name="ToId" value="@Model[0].ToID" />
                <input type="hidden" name="FromId" value="@Model[0].FromID" />
            }
            else
            {
                <input type="hidden" name="FromId" value="@Model[0].ToID" />
                <input type="hidden" id="ToId" value="@Model[0].FromID" />
            }
            <input type="text" name="Subject" value="Re: @Model[0].Subject" placeholder="Subject" />
            <textarea name="Text" placeholder="Message"></textarea>
            <button class="btn button" style="float: left;" type="submit" value="Submit">Send</button><a asp-action="MessageList" style="float: left;margin-left:15px;" class="btn button-danger">Cancel</a>

        </form>
    </center>
<br />
<br />
<br />
<br />

<script type="text/javascript">
$(document).ready(function () {
    var anchor = document.getElementById('@ViewBag.Item');
    anchor.scrollIntoView(true);
    });
</script>