@model List<Message>
@{
    ViewData["Title"] = "Your Messages";
}


<div class="container">
<center><h1>Your Messages</h1><br /></center>
<center><a asp-action="MessageSend">Send a New Message</a></center>
<br />
@if (Model.Any(a => a.ToID == ViewBag.UserId))
{

    <center>
    <table cellspacing="3">

        
        <caption>Inbox</caption>
        <tr><td>From</td><td>Subject</td><td>Date</td></tr>
        @foreach (Message m in @Model.Where(a => a.ToID == ViewBag.UserId))
        {
            <tr>
                <td>@m.FromName</td>
                <td>
                    <a asp-action="MessageView" asp-route-id="@m.Parent">
                        @if (m.Status == Read.Unread)
                        {

                            <strong>@m.Subject</strong>
                        }
                        else
                        { @m.Subject }
                    </a>
                </td>
                <td>@m.Date</td>
            </tr>
        }
    </table>
    </center>
    <br/>
     

}




else
{ <center><span>You have not received any messages.</span></center>}

</div>
<br />&nbsp;<br />

@if (Model.Any(a => a.FromID == ViewBag.UserId))
{

            <table cellspacing="3">
                <caption>Sent Messages</caption>
                <tr><td>To</td><td>Subject</td><td>Date</td></tr>
                @foreach (Message m in @Model.Where(a => a.FromID == ViewBag.UserId))
    {
            <tr>
                <td>@m.ToUser</td>
                <td>
                    <a asp-action="MessageView" asp-route-id="@m.Parent">
                        @if (m.Status == Read.Unread)
            {

                <strong>@m.Subject</strong>
}
else
{ @m.Subject}
                    </a>
                </td>
                <td>@m.Date</td>
            </tr>
}
            </table>
            <br />
}
else
{ 
    <br/>
    <br />
    <center><span>You have not sent any messages.</span></center>}



