@model Project
@{
    // CREATIVE CYBER SOLUTIONS
    // CREATED 05/02/2018
    // CREATED BY JOHN BELL contact@conquest-marketing.com
    // UPDATED 05/23/2018
    // UPDATED BY JOHN BELL contact@conquest-marketing.com



    ViewData["Title"] = Model.Name;
}
<br /><center><span style="color:red; font-weight:bold">@ViewBag.Message</span></center>
<br />
<center><h1>@Model.Name</h1></center>
<center>
    <div style="background-color:#f4f4f4; min-width:50%; max-width:800px; padding:20px;">

        <h3>@Model.Description</h3><br />
        Status: @Model.Progress<br />&nbsp;<br />
        @if (@Model.Quote != 0)
    {
        <span>Quote: $@Model.Quote<br /></span>
        @if (Model.Progress == Status.Quoted)
    {<br /><a asp-action="AcceptQuote" asp-route-id="@Model.ID" class="btn button">Accept Quote</a><br />}
}
@if (Model.TotalDue != 0)
{
    <span>Invoiced Total: $@Model.TotalDue<br /></span>
    <span>Invoiced Due: @Model.InvoiceDue<br /></span>

}
    </div>
</center>


@if (Model.Products.Count > 0)
{
    <center>
        <br />
        <div style="background-color:#f4f4f4; min-width:50%; max-width:800px; padding:20px;">
            <center><h3>Invoiced Products</h3></center><br />

            <table cellspacing="3" class="table table-condensed">
                <tr><th>Name</th><th>Quantity</th><th>Price</th><th></th></tr>
                <caption>Products</caption>
                @foreach (Product p in Model.Products)
                {
                    <tr><td>@p.Name</td><td>@p.Quantity</td><td>$@p.Price</td></tr>
                }
                <tr><td></td><td align="right">Invoice Total: </td><td>$@Model.TotalDue</td></tr>
            </table>

        </div>
    </center>
    <br />
}



@if (Model.Notes.Count > 0)
{
    <center>
        <br />
        <div style="background-color:#f4f4f4; min-width:50%; max-width:800px; padding:20px;">

            <h3>Invoice Notes</h3>
            <br />
            <table class="table table-condensed">

                @foreach (Note n in Model.Notes)
            {

                <tr><td>@n.Date</td><td>@n.FromName</td><td>@n.Text</td></tr>

        }
            </table>
            <br />
        </div>
    </center>

    <br />
}


