@model Project
@{
    // CREATIVE CYBER SOLUTIONS
    // CREATED 05/02/2018
    // CREATED BY JOHN BELL contact@conquest-marketing.com
    // UPDATED 05/02/2018
    // UPDATED BY JOHN BELL contact@conquest-marketing.com



    ViewData["Title"] = Model.Name;
}
<br /><center><span style="color:red; font-weight:bold">@ViewBag.Message</span></center>
<br />
<center><h1>@Model.Name</h1></center>
<center>
    <div style="background-color:#f4f4f4; width:50%; padding:20px;">

        <h3>@Model.Description</h3><br />
        Status: @Model.Progress<br />&nbsp;<br />
        @if (@Model.Quote != 0)
        {
            <span>Quote: $@Model.Quote<br /></span>}
    </div>
</center>

@if (Model.Products.Count > 0)
{
    <h3>Invoiced Products</h3>
    <div style="background-color:#f4f4f4; width:35%; padding:20px;">
        <table>
            <tr><td>Qtyy</td><td>Name</td><td>Price</td><td></td></tr>
            <caption>Products</caption>
            @foreach (Product p in Model.Products)
            {
                <tr><td>@p.Quantity</td><td>@p.Name</td><td>$@p.Price</td></tr>
            }
        </table>
    </div>

}
<br />
<center>
    <div style="background-color:#f4f4f4; width:50%; padding:20px;">

        @if (Model.Notes.Count > 0)
        {

            <h3>Invoice Notes</h3>
            <br />
            <table class="table table-condensed">

                @foreach (Note n in Model.Notes)
                {

                    <tr><td>@n.Date</td><td>@n.FromName</td><td>@n.Text</td></tr>

                }
            </table>
            <br />

        }

    </div>
</center>
<br />
