@model Project
@{
    // CREATIVE CYBER SOLUTIONS
    // CREATED 04/12/2018
    // CREATED BY JOHN BELL contact@conquest-marketing.com
    // UPDATED 04/24/2018
    // UPDATED BY JOHN BELL contact@conquest-marketing.com



    ViewData["Title"] = Model.Name;
}
<br />
<br />
<center><h1>@Model.Name</h1></center>
<center>
    <div style="background-color:#f4f4f4; width:35%; padding:20px;">
        <center><h3>@Model.Description</h3></center>
        <center><p> Quote: $@Model.Quote</p></center>
        <center><p>Status: @Model.Progress<br /></center>
        <br />
        @if (@Model.Quote == 0)
        {<center><a asp-action="ProjectQuote" asp-route-id="@Model.ID" class="btn button">Add a Quote</a></center>}

    </div>
</center>
<center>
    <br />
    <div style="background-color:#f4f4f4; width:35%; padding:20px;">
        <center><h3>Invoiced Products</h3></center><br />
        @if (Model.Products.Count > 0)
        {

            <table>
                <tr><td>Qty</td><td>Name</td><td>Price</td><td></td></tr>
                <caption>Products</caption>
                @foreach (Product p in Model.Products)
                {
                    <tr><td>@p.Quantity</td><td>@p.Name</td><td>$@p.Price</td><td><a asp-action="ProjProdEdit" asp-route-id="@p.ProjProdId">Edit</a></td></tr>
                }
            </table>


        }

        <center><a asp-action="ProductAdd" asp-route-id="@Model.ID" class="btn button">Add a Product to Project Invoice</a></center>
    </div>
</center>
<br />
<center>
    <div style="background-color:#f4f4f4; width:35%; padding:20px;">

        @if (Model.Notes.Count > 0)
        {

            <h3>Invoice Notes</h3>

            <table class="table table-condensed">

                @foreach (Note n in Model.Notes)
                {

                    <tr><td>@n.Date</td>&nbsp;<td>@n.FromName</td><td>@n.Text</td><td><a asp-action="NoteEdit" asp-route-id="@n.ID">Edit</a></td></tr>


                }
            </table>

        }
        <br />
        <center><a asp-action="NoteAdd" asp-route-id="@Model.ID" class="btn button">Add Notes to Project</a></center>
    </div>
</center>
<br />
<br />


