@model List<Project>
@{

    // CREATIVE CYBER SOLUTIONS
    // 04/12/2018
    // JOHN BELL contact@conquest-marketing.com

    ViewData["Title"] = "Projects";
}

<center><h1>Projects</h1></center>
<br />
<center><a asp-action="ProjectAdd" class="btn button">Create a new Project</a></center>
<br />
<div class="table-responsive">
    <center>
        <table cellspacing="3" class="table table-condensed">
            <thead><tr><th>Customer</th><th>Project Name</th><th>Status</th><th>Origination Date</th></tr></thead>

            @foreach (Project p in Model)
            {
                <tr><td>@p.CustomerName</td><td><a asp-action="ProjectView" asp-route-id="@p.ID">@p.Name</a></td><td>@p.Progress</td><td>@p.QuoteDate</td></tr>
            }
        </table>
    </center>
</div>





