@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<center>
    <h1>User Accounts</h1>
</center>
<br />
<center><a class="btn button" asp-action="Register">Create an Account</a></center>
<br />
<center><span style="color:red; font-weight:bold">@ViewBag.Message</span></center>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>


<center>
    <div class="table-responsive">
        <table cellspacing="3" class="table table-condensed">
            <tr><th>Name</th><th>Email</th><th></th></tr>
            @if (Model.Count() == 0)
            {
                <tr><td>No User Accounts</td></tr>
            }
            else
            {
                foreach (User user in Model)
                {
                    <tr>

                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                <a class="btn button" asp-action="Edit"
                                   asp-route-id="@user.Id">Edit</a>

                                <button class="btn button-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>


