@model RoleEditModel

@{
    ViewData["Title"] = "Edit";
}
<br />
<center>
    <h1>Edit @Model.Role</h1>
    <br />


    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Edit" method="post" class="form">
        <input type="hidden" name="roleName" value="@Model.Role.Name" />
        <input type="hidden" name="roleId" value="@Model.Role.Id" />



        <table cellspacing="3" class="table table-condensed" style="min-width:50%; max-width:400px">

            <thead><tr><th colspan="2">Add to @Model.Role.Name</th></tr></thead>

            @if (Model.NonMembers.Count() == 0)
    {
        <tr><td colspan="2">All Users Are Members</td></tr>
}
else
{
        @foreach (User user in Model.NonMembers)
{
        <tr>
            <td>@user.UserName</td>
            <td>
                <input type="checkbox" name="IdsToAdd" value="@user.Id">
            </td>
        </tr>
}
}
        </table>
        <table cellspacing="3" class="table table-condensed" style="min-width:50%; max-width:400px">

            <thead><tr><th colspan="2">Remove from @Model.Role.Name</th></tr></thead>
            @if (Model.Members.Count() == 0)
        {
            <tr><td colspan="2">No Users Are Members</td></tr>
    }
    else
    {
        @foreach (User user in Model.Members)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <input type="checkbox" name="IdsToDelete" value="@user.Id">
            </td>
        </tr>
}
}
        </table>
        <button type="submit" style="float: left;" class="btn button">Save</button>
        <a asp-action="Index" style="float: left;margin-left:15px;" class="btn button-danger">Cancel</a>
    </form>

</center>